.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
.env
.env.*
!.env.example
android/.gradle/
android/local.properties
android/key.properties
android/*.jks
android/*.keystore
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
web/google_maps_api.js
website/web/google_maps_api.js
android/app/debug
android/app/profile
android/app/release
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/ephemeral/
ios/Pods/
ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
*.iml
.DS_Store
