<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>CFBundleDisplayName</key><string>BookMyPlatter</string>
  <key>CFBundleIdentifier</key><string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
  <key>CFBundleName</key><string>bookmyplatter</string>
  <key>CFBundleShortVersionString</key><string>$(FLUTTER_BUILD_NAME)</string>
  <key>CFBundleVersion</key><string>$(FLUTTER_BUILD_NUMBER)</string>
  <key>UILaunchStoryboardName</key><string>LaunchScreen</string>
  <key>UIMainStoryboardFile</key><string>Main</string>
  <key>NSLocationWhenInUseUsageDescription</key><string>BookMyPlatter uses your location to select an accurate event address and show delivery progress.</string>
  <key>UIBackgroundModes</key><array><string>remote-notification</string></array>
  <key>CFBundleURLTypes</key><array><dict>
    <key>CFBundleTypeRole</key><string>Editor</string>
    <key>CFBundleURLSchemes</key><array><string>com.bookmyplatter.app</string></array>
  </dict></array>
  <key>UISupportedInterfaceOrientations</key><array><string>UIInterfaceOrientationPortrait</string></array>
</dict></plist>
